@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Elegant;
  src: url(./Saudagar.ttf)
}

:root {

    --verde: #CCD5AE;
  
    --verde-chiaro: #E9EDC9;
  
    --bianco: #FEFAE0;
  
    --beige: #FAEDCD;
  
    --brown: #D4A373;
  
    --arancio: #FFAC81;
  
    --rosso: #FF928B;
  
    --rosa: #FEC3A6;
  
    --giallo: #EFE9AE;
  
    --verde-acqua: #CDEAC0;
  
  }