@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Elegant;
  src: url(./Saudagar.ttf)
}

.my-gallery {
  width: 100%;
  float: left;
  /* background-color: lightseagreen; */
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  place-items: center;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.my-gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  /* box-shadow: 0px 0px 50px 0px var(--brown); */
}
.my-gallery figure {
  display: block;
  margin: 0 5px 5px 0;
  width: 95%;
}
.my-gallery figcaption {
  display: none;
}

.spliter {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
