@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: Flower;
  src: url(./flower3.TTF);
}
@font-face {
  font-family: Elegant;
  src: url(./Saudagar.ttf);
}

/* ############################################## */
/* ############################################## */
/* ##################  MAX 840  ################# */
/* ############################################## */
/* ############################################## */

@media only screen and (max-width: 840px) {
  .menu_links_web li {
    width: fit-content;
  }
  
  .logo_web a img {
    width: 170px;
  }

}



/* ############################################## */
/* ############################################## */
/* ##################  MAX 770  ################# */
/* ############################################## */
/* ############################################## */

@media only screen and (max-width: 770px) {

.menu_links_web li {
  width: fit-content;
}

.logo_web a img {
  width: 150px;
}

}


/* ############################################## */
/* ############################################## */
/* ##################  MAX 430  ################# */
/* ############################################## */
/* ############################################## */

@media only screen and (max-width: 430px) {
  body {
    width: 100%;
  }

  /* ##################  HEADER  ################## */

  #header_web {
    display: none;
  }
  #header_mobile {
    display: block;
    /* background-color: rgb(104, 196, 86); */
    background-color: var(--brown);
  }

  #nav_mobile {
    display: block;
    background-color: var(--brown);
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .logo_mobile {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }

  .logo_mobile a img {
    max-width: 100%;
    max-height: 120px;
    border-radius: 5px;
  }

  /* ##################  NAV BUTTONS  ############# */

  .menu_buttons {
    display: grid;
    padding: .3rem;
    padding-bottom: .5rem;
    /* background-color: rgb(104, 196, 86); */
    background-color: var(--brown);
    grid-template-columns: 1fr 1fr;
    grid-row-gap: .3rem;
    grid-column-gap: 0;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 0px 25px 0px black;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.27);
  }

  .menu_buttons a {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    background-color: #eed0a3;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
  }

  .menu_buttons li {
    font-size: 2rem;
    text-align: center;
    width: 150px;
    height: 40px;
    color: #212121;
    font-family: Elegant;
    font-weight: bold;
    font-size: 2rem;
  }

  .menu_buttons a:nth-child(2) {
    display: none;
  }

  .menu_buttons a:nth-child(4) li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
  }

  .menu_buttons a:last-child li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu_buttons a:hover {
    background-color: #da6e2b9d;
    cursor: pointer;
  }

  ul li {
    text-decoration: none;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #logo_header_mobile {
    max-height: 25%;
  }

  /* ##################  MENU PAGE  ############### */

  #header_web_menu {
    display: none;
  }

  #menu_page_logo {
    display: block;
  }

  #menu_page_logo img {
    max-height: 8rem;    
  }

  .menus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  /* ##################  SLIDER  ################## */

  /* #slider_mobile {
    display: block;
    margin-top: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  #slider_web {
    display: none;
  }

  .slides-container {
    height: 100%;
  }

  .slide img {
    width: 100%;
  } */

  /* ##################  INFO  #################### */

  #info_web {
    display: none;
  }

  #info_mobile {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 900;
    font-size: 25px;
    font-family: Elegant;
    text-align: center;
  }

  /* #info_mobile p {
    background-color: var(--brown);
    border-radius: 10px;
    padding: .2rem;
    color: var(--bianco);
  } */

  .info_text {
    padding: 3rem;
  }

  .info_text span {
    font-size: 30px;
  }

  /* #info_mobile img {
    width: 100%;
  } */

  /* ##################  GALLERY  ################# */

  .my-gallery {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 1rem;
  }

  .my-gallery figcaption {
    display: none;
  }

  #gallery_anchor {
    max-height: 400px;
    overflow: hidden;
  }

  #loadMoreBtn {
    width: fit-content;
    height: 3rem;
    margin-top: -40%;
    margin-bottom: 10rem;
    font-size: 25px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
  }

  /* ##################  REVIEWS  ################# */

  #reviews_web {
    display: none;
  }

  #reviews_mobile {
    display: block;
    height: 80vh;
    max-height: 80vh;
    margin-top: -30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
  }

  .review_bg {
    border: 5px solid black;
    border-radius: 5px;
    padding: 1rem;
    transform: scale(0.8);
  }

  .review_bg span {
    font-weight: bold;
  }

  .review_bg span:nth-child(2) {
    font-style: italic;
  }

  .review_bg p {
    font-size: 2rem;
  }

  .carousel__slides {
    animation: none;
  }

  .carousel__slideBg {
    display: none;
  }

  .carousel__slide:nth-child(1) .review_bg {
    background-image: none;
    background-color: var(--verde);
  }

  .carousel__slide:nth-child(2) .review_bg {
    background-image: none;
    background-color: var(--bianco);
  }

  .carousel__slide:nth-child(3) .review_bg {
    background-image: none;
    background-color: var(--rosso);
  }

  .carousel__slide:nth-child(4) .review_bg {
    background-image: none;
    background-color: var(--brown);
  }

  .carousel__slideBg {
    opacity: 0.2;
  }

  .carousel__slide {
    opacity: 1;
  }

  .carousel__slideContent {
    text-shadow: none;
  }
}

/* ############################################## */
/* ############################################## */
/* ##################  MAX 395  ################# */
/* ############################################## */
/* ############################################## */

@media only screen and (max-width: 395px) {
  body {
    width: 100%;
    position: relative;
  }

  main {
    margin-bottom: 0;
  }

  /* ##################  HEADER  ################## */

  #header_web {
    display: none;
  }

  #nav_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  /* ##################  NAV BUTTONS  ############# */

  .menu_buttons {
    justify-content: center;
    align-items: center;
    grid-column-gap: .5rem;
  }

  .menu_buttons li {
    width: 125px;
  }

  /* ##################  INFO  #################### */

  #info_web {
    display: none;
  }

  #info_mobile {
    display: flex;
    height: 90vh;
    font-size: 25px;
  }

  /* ##################  GALLERY  ################# */

  .my-gallery {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    padding: 0.5rem;
  }

  .my-gallery figcaption {
    display: none;
  }

  #gallery_anchor {
    max-height: 250px;
    overflow: hidden;
  }

  #loadMoreBtn {
    width: fit-content;
    height: 3rem;
    margin-top: -40%;
    margin-bottom: 10rem;
    font-size: 25px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* ##################  REVIEWS  ################# */

  #reviews_web {
    display: none;
  }

  #reviews_mobile {
    display: block;
    margin-top: -30%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
  }

  .carousel__slides {
    animation: none;
  }

  .carousel__slideBg {
    display: none;
  }

  .carousel__slide:nth-child(1) .review_bg {
    background-image: none;
    background-color: var(--verde);
  }

  .carousel__slide:nth-child(2) .review_bg {
    background-image: none;
    background-color: var(--bianco);
  }

  .carousel__slide:nth-child(3) .review_bg {
    background-image: none;
    background-color: var(--rosso);
  }

  .carousel__slide:nth-child(4) .review_bg {
    background-image: none;
    background-color: var(--brown);
  }

  .carousel__slideBg {
    opacity: 0.2;
  }

  .carousel__slide {
    opacity: 1;
  }

  .carousel__slideContent {
    text-shadow: none;
  }

  /* ######################  CUP  ################# */

  /* #cup_container {
    right: -15%;
  } */

  /* ##################  MENU PAGE  ############### */

  #header_web_menu {
    display: none;
  }

  .menu_main {
    height: 100vh;
    display: grid;
    padding: .3rem;
    padding-bottom: .5rem;
    justify-items: center;
    box-shadow: 0px 0px 25px 0px black;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.27);
  }

  .menus a {
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    background-color: #eed0a3;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    margin-bottom: .5rem;
  }

  .menus li {
    font-size: 2rem;
    text-align: center;
    width: 150px;
    height: 40px;
    color: #212121;
    font-family: Elegant;
    font-weight: bold;
    font-size: 2rem;
    overflow: hidden;
  }

  /* ##################  AVOCADO  ################# */
/* 
  .avocado {
    top: 80%;
  } */
}

/* ############################################## */
/* ############################################## */
/* ##################  MAX 330  ################# */
/* ############################################## */
/* ############################################## */

@media only screen and (max-width: 330px) {
  .menu_buttons li {
    width: 100px;
  }

  .menu_buttons a:nth-child(4) li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
  .menu_buttons a:nth-child(5) li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  
  .review_bg {
    border: 5px solid black;
    border-radius: 5px;
    padding: 1rem;
    transform: scale(0.5);
  }

  #header_web_menu {
    display: none;
  }

  #menu_page_logo img {
    max-height: 4rem;    
  }

  .menus li {
    width: 120px;
    height: 30px;
    font-size: 1.5rem;
    overflow: hidden;
  }

  #info_mobile {
    height: 100vh;
    font-size: 20px;
  }

}